<div ng-controller="PackageDetailsCtrl">
    <div class="col-md-3">
        <!--<h3>PROPERTY TYPE</h3>-->
<!--{{slider}}-->
<!--{{max_price}}-->

<!--{{allCountry}}-->
        <!--Selecte{{selectedCountry}}-->
        <fieldset class="standard" >
            <legend>Country</legend>
            <div layout="row" layout-wrap flex>
                <ul class="menu-side-1">
                    <li ng-repeat="item in detailsData.countFiltr track by $index">
                        <a href="/country-tour/{{ item}}"> {{ item | uppercase}}</a>
                    </li>
                </ul>
            </div>
        </fieldset>



    </div>
    <div class="col-md-9">
<div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" ng-src="/api/image/tpackage-image/{{detailsData.showData.image1}}" alt="{{detailsData.showData.title}}" />

            <!--<div class="col-xs-6 col-sm-4 col-lg-3 no-padding thumb" ng-repeat="thumb in thumbs track by $index">-->
                <!--<img ng-src="{{thumb.image}}" alt="{{thumb.name}}" class="img-responsive" ng-click="open($index)" />-->
            <!--</div>-->


        </div>
<!--{{countryData.showData}}-->
        {{detailsData.shdata.image1}}
        <div class="col-md-8">
                 <!--<h3>{{detailsData.showData.title}}</h3>-->
                 <!--<hr/>-->
            <!--<p>{{detailsData.showData.description}}</p>-->



            <md-toolbar class="md-warn">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">{{detailsData.showData.title}}</h2>
                </div>
            </md-toolbar>

            <md-content flex layout-padding>

                <p>{{detailsData.showData.description}} </p>



            </md-content>





        </div>

</div>

        <div class="row" style="margin-top: 20px">
            <div class="col-md-4" style=" padding-top: 20px">
                <img class="thumbnail col-md-4" ng-if="detailsData.showData.image2 != null" ng-src="/api/image/tpackage-image/{{detailsData.showData.image2}}" alt="{{detailsData.showData.title}}" />
                <img class="thumbnail col-md-4" ng-if="detailsData.showData.image3 != null" ng-src="/api/image/tpackage-image/{{detailsData.showData.image3}}" alt="{{detailsData.showData.title}}" />
                <img class="thumbnail col-md-4" ng-if="detailsData.showData.image4 != null" ng-src="/api/image/tpackage-image/{{detailsData.showData.image4}}" alt="{{detailsData.showData.title}}" />
            </div>
            <!--{{countryData.showData}}-->
            {{detailsData.shdata.image1}}
            <div class="col-md-8" >
                <hr/>

                <div class="col-md-8" >
                    <h3>{{detailsData.showData.price}} BDT</h3>

                    <section layout="row" layout-sm="column" layout-align="left left" layout-wrap>

                        <md-button class="md-raised md-primary" ng-click="packaageAddToCart(detailsData.showData.slug, selQt)">BOOK NOW</md-button>
                        <!--<md-button class="md-raised md-primary" ng-click="openCustomerLogin()">Login</md-button>-->


                    </section>


                    </div>
                <div class="col-md-4" >
                    <md-input-container>
                        <label>Quantity</label>
                        <md-select ng-model="selQt" ng-change="changeQty(selQt)">
                            <!--<md-option><em>None</em></md-option>-->
                            <md-option ng-repeat="qt in qtys" ng-value="qt">
                                {{qt}}
                            </md-option>
                        </md-select>
                        <p class="pkg-cart-error" ng-show="pkgcarterror">Please select Quantity</p>
                    </md-input-container>




                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-md-12" >



                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Itinerary">
                                <md-content class="md-padding">
                                    <h1 class="md-display-2">Package Code : {{detailsData.showData.code}}</h1>
                                    <p>{{detailsData.showData.description}} </p>                                </md-content>
                            </md-tab>
                            <md-tab label="Hotel Description">
                                <md-content class="md-padding">
                                    <!--<h1 class="md-display-2">Tab Two</h1>-->

                                   <md-list>

                                       <md-list-item class="md-3-line" >
                                           <div class="md-list-item-text">
                                               <h3>AIR FARE</h3>
                                           </div>
                                           <md-button class="md-secondary" ng-if="detailsData.showData.airfare_include == 1">Included</md-button>
                                           <md-button class="md-secondary" ng-if="detailsData.showData.airfare_exclude == 1">Excluded</md-button>
                                           <md-divider ng-if="!$last"></md-divider>
                                       </md-list-item>





                                       <md-list-item class="md-3-line">
                                           <div class="md-list-item-text">
                                               <h3>TRANSPORT</h3>
                                           </div>
                                           <md-button class="md-secondary" ng-if="detailsData.showData.transport_include == 1">Included</md-button>
                                           <md-button class="md-secondary" ng-if="detailsData.showData.transport_exclude == 1">Excluded</md-button>
                                           <md-divider ng-if="!$last"></md-divider>
                                       </md-list-item>


                                       <md-list-item class="md-3-line">
                                           <div class="md-list-item-text">
                                               <h3>PROPERTY TYPE</h3>
                                           </div>
                                           <md-button class="md-secondary" ng-if="detailsData.showData.property_type === 'hotel'">Hotel</md-button>
                                           <md-button class="md-secondary" ng-if="detailsData.showData.property_type === 'resorts'">Resorts</md-button>
                                           <md-button class="md-secondary" ng-if="detailsData.showData.property_type === 'cruiseship'">Cruiseship</md-button>
                                           <md-divider ng-if="!$last"></md-divider>
                                       </md-list-item>


                                       <md-list-item class="md-3-line">
                                           <div class="md-list-item-text">
                                               <h3>Hotel Rating</h3>
                                           </div>
                                           <md-button class="md-secondary" ng-if="detailsData.showData.hotel_rating === '1'">1 STAR</md-button>
                                           <md-button class="md-secondary" ng-if="detailsData.showData.hotel_rating === '2'">2 STAR</md-button>
                                           <md-button class="md-secondary" ng-if="detailsData.showData.hotel_rating === '3'">3 STAR</md-button>
                                           <md-button class="md-secondary" ng-if="detailsData.showData.hotel_rating === '4'">4 STAR</md-button>
                                           <md-button class="md-secondary" ng-if="detailsData.showData.hotel_rating === '5'">5 STAR</md-button>
                                           <md-divider ng-if="!$last"></md-divider>
                                       </md-list-item>

                                       <md-list-item class="md-3-line" ng-if="detailsData.showData.check_in != ''">
                                           <div class="md-list-item-text">
                                               <h3>CHECK IN</h3>
                                           </div>
                                           <md-button class="md-secondary" >{{detailsData.showData.check_in}}</md-button>
                                           <md-divider ng-if="!$last"></md-divider>
                                       </md-list-item>

                                       <md-list-item class="md-3-line" ng-if="detailsData.showData.check_out != ''">
                                           <div class="md-list-item-text">
                                               <h3>CHECK OUT</h3>
                                           </div>
                                           <md-button class="md-secondary" >{{detailsData.showData.check_out}}</md-button>
                                           <md-divider ng-if="!$last"></md-divider>
                                       </md-list-item>

                                       <md-list-item class="md-3-line" ng-if="detailsData.showData.pets != ''">
                                           <div class="md-list-item-text">
                                               <h3>PETS</h3>
                                           </div>
                                           <md-button class="md-secondary" >{{detailsData.showData.pets}}</md-button>
                                           <md-divider ng-if="!$last"></md-divider>
                                       </md-list-item>

                                       <md-list-item class="md-3-line" ng-if="detailsData.showData.laundry_service != ''">
                                           <div class="md-list-item-text">
                                               <h3>LAUNDRY SERVICE</h3>
                                           </div>
                                           <md-button class="md-secondary" >{{detailsData.showData.laundry_service}}</md-button>
                                           <md-divider ng-if="!$last"></md-divider>
                                       </md-list-item>

                                       <md-list-item class="md-3-line" ng-if="detailsData.showData.free_wifi != ''">
                                           <div class="md-list-item-text">
                                               <h3>FREE WIFI</h3>
                                           </div>
                                           <md-button class="md-secondary" >{{detailsData.showData.free_wifi}}</md-button>
                                           <md-divider ng-if="!$last"></md-divider>
                                       </md-list-item>

                                       <md-list-item class="md-3-line" ng-if="detailsData.showData.smoking_area != ''">
                                           <div class="md-list-item-text">
                                               <h3>SMOKING AREA</h3>
                                           </div>
                                           <md-button class="md-secondary" >{{detailsData.showData.smoking_area}}</md-button>
                                           <md-divider ng-if="!$last"></md-divider>
                                       </md-list-item>

                                       <md-list-item class="md-3-line" ng-if="detailsData.showData.resturent != ''">
                                           <div class="md-list-item-text">
                                               <h3>RESTAURANT</h3>
                                           </div>
                                           <md-button class="md-secondary" >{{detailsData.showData.resturent}}</md-button>
                                           <md-divider ng-if="!$last"></md-divider>
                                       </md-list-item>

                                       <md-list-item class="md-3-line" ng-if="detailsData.showData.dry_cleaning != ''">
                                           <div class="md-list-item-text">
                                               <h3>DRY CLEANING</h3>
                                           </div>
                                           <md-button class="md-secondary" >{{detailsData.showData.dry_cleaning}}</md-button>
                                           <md-divider ng-if="!$last"></md-divider>
                                       </md-list-item>

                                   </md-list>



                                </md-content>
                            </md-tab>

                        </md-tabs>
                    </md-content>
                </div>




            </div>
        </div>

    </div>
</div>


