.act-head{
    width: 100px;
}



legend{
    width: auto !important;
    padding: 10px;
}

.dash-block{

    border: 2px solid #eaeaea;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

.dash-block ul li{
    display: block;
}


.dash-block:hover{

    border: 5px solid #eaeaea;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}