<a href>
    <!--<span>{{match}}</span>-->
    <!--<span>{{query}}</span>-->
    <span ng-bind-html="match.model.ct"></span>
    <span ng-bind-html="match.model.ac"></span>
    <span ng-bind-html="match.model.cn" class="pull-right"></span>
    <br>
    <span ng-bind-html="match.model.an"></span>
    <span class="{{'flag-icon flag-icon-'+ match.model.cc | lowercase}} pull-right"></span>
</a>