<div class="container" ng-controller="SegmentCtrl">
    <div class="row">
        <div class="col-md-3">
            <ng-include src="'/template/include/left-filter.html'"></ng-include>

        </div>
        <div class="col-md-9">
            <div>
                <!--<div class="panel  panel-default" >-->

                <!--<div class="panel-body">-->
                <!--<table class="table borderless table-slim">-->
                <!--<tr>-->
                <!--<td class="col-sm-3"><a href>Airline</a></td>-->
                <!--<td class="col-sm-2"><a href>Depart</a></td>-->
                <!--<td class="col-sm-2"><a href>Arrive</a></td>-->
                <!--<td class="col-sm-2"><a href>Duration</a></td>-->
                <!--<td class="col-sm-2"><a href>Price</a></td>-->
                <!--<td class="col-sm-1" style="visibility: hidden">-->
                <!--<button>book now</button>-->
                <!--</td>-->
                <!--</tr>-->
                <!--</table>-->
                <!--</div>-->
                <!--</div>-->
                <div class="panel panel-default" ng-repeat="row in pricingSolution track by $index"
                     ng-show="showByFilter(row)">
                    <div class="panel-heading">
                        <table class="table-slim">
                            <tr>
                                <td class="col-sm-3">Airline</td>
                                <td class="col-sm-2">Depart</td>
                                <td class="col-sm-2">Arrive</td>
                                <td class="col-sm-2">Duration</td>
                                <td class="col-sm-2">Price</td>
                                <td class="col-sm-1" style="visibility: hidden">
                                    <button>book now</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <table class="table borderless">
                            <tr ng-repeat="route in row.Journey.Routes">
                                <td style="width: 25%" >

                                    <span ng-show="$first"><img ng-src="{{'/api.travelport/images/' + row.PlatingCarrier + '.png'}}"
                                               alt="not found" style="height: 40px;"></span>

                                  <span ng-show="$first">  {{(row.PlatingCarrier | airline).airline}}</span>
                                </td>
                                <td style="width: 16%">{{route.DepartureTime | date:'hh:mm a'}} <br>
                                    {{route.Origin}}
                                </td>
                                <td style="width: 16%">{{route.ArrivalTime | date:'hh:mm a'}} <br>
                                    {{route.Destination}}
                                </td>
                                <td style="width: 16%">
                                    {{(route.Duration.d*24 +
                                    route.Duration.h) + 'h ' +
                                    route.Duration.i + 'm'}} <br>
                                    {{route.Stops === 1 ? 'Non stop' : route.Stops -1 +
                                    ' stop'}}<br>
                                    <small ng-show="route.ViaStops">via {{route.ViaStops}}</small>
                                </td>
                                <td style="width: 16%">
                                 <span ng-show="$first">{{row.Price.TotalPrice}}</span>
                                </td>
                                <td style="width: 11%" ng-show="$first">
                                    <button ng-show="$first" class="btn btn-primary" ng-click="addToCart(row)">Book now
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="">
                            <ul class="list-inline pull-right">
                                <li>
                                    <a href ng-click="demo($index)">{{row.Refundable === 'true' ? 'Refundable': 'Non Refundable'}}</a>
                                </li>
                                <li>
                                    <a href ng-click="openFlightDetailsModal($index)">Flight Details</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>