<div class="container" ng-controller="SegmentCtrl">
    <div class="row">
        <div class="col-md-3">
            <ng-include src="'/template/include/left-filter.html'"></ng-include>

        </div>
        <div class="col-md-9">
            <div>
                <!--<div class="panel  panel-default" >-->

                    <!--<div class="panel-body">-->
                        <!--<table class="table borderless table-slim">-->
                            <!--<tr>-->
                                <!--<td class="col-sm-3"><a href>Airline</a></td>-->
                                <!--<td class="col-sm-2"><a href>Depart</a></td>-->
                                <!--<td class="col-sm-2"><a href>Arrive</a></td>-->
                                <!--<td class="col-sm-2"><a href>Duration</a></td>-->
                                <!--<td class="col-sm-2"><a href>Price</a></td>-->
                                <!--<td class="col-sm-1" style="visibility: hidden">-->
                                    <!--<button>book now</button>-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</div>-->
                <div>
                    <span>sorting</span>
                    <table >
                        <tr>
                            <td class="col-sm-3">
                                <a href ng-click="sortItem('Airline')">
                                    <i ng-class="sorting.Airline.up ? 'fa fa-long-arrow-up': sorting.Airline.down ? 'fa fa-long-arrow-down' : ''" aria-hidden="true"></i> Airline
                                </a>
                            </td>
                            <td class="col-sm-2">
                                <a href ng-click="sortItem('Depart')">
                                    <i ng-class="sorting.Depart.up ? 'fa fa-long-arrow-up': sorting.Depart.down ? 'fa fa-long-arrow-down' : ''" aria-hidden="true"></i> Depart
                                </a></td>
                            <td class="col-sm-2">
                                <a href ng-click="sortItem('Arrive')">
                                    <i ng-class="sorting.Arrive.up ? 'fa fa-long-arrow-up': sorting.Arrive.down ? 'fa fa-long-arrow-down' : ''" aria-hidden="true"></i> Arrive
                                </a></td>
                            <td class="col-sm-2">
                                <a href ng-click="sortItem('Duration')">
                                    <i ng-class="sorting.Duration.up ? 'fa fa-long-arrow-up': sorting.Duration.down ? 'fa fa-long-arrow-down' : ''" aria-hidden="true"></i> Duration
                                </a></td>
                            <td class="col-sm-2">
                                <a href ng-click="sortItem('Price')">
                                    <i ng-class="sorting.Price.up ? 'fa fa-long-arrow-up': sorting.Price.down ? 'fa fa-long-arrow-down' : ''" aria-hidden="true"></i> Price
                                </a></td>
                            <td class="col-sm-1" style="visibility: hidden">
                                <button>book now</button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="panel panel-default" ng-repeat="row in pricingSolution  | orderBy: sortingKey track by $index"
                     ng-show="showByFilter(row)">
                    <div class="panel-heading">
                        <table class="table-slim">
                            <tr>
                                <td class="col-sm-3">Airline</td>
                                <td class="col-sm-2">Depart</td>
                                <td class="col-sm-2">Arrive</td>
                                <td class="col-sm-2">Duration</td>
                                <td class="col-sm-2">Price</td>
                                <td class="col-sm-1" style="visibility: hidden">
                                    <button>book now</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <table class="table borderless">
                            <tr>
                                <td class="col-sm-3">
                                    <span><img ng-src="{{'/api.travelport/images/' + row.PlatingCarrier + '.png'}}"
                                               alt="not found" style="height: 40px;"></span>

                                    {{(row.PlatingCarrier | airline).airline}}
                                </td>
                                <td class="col-sm-2">{{row.Journey.Routes[0].DepartureTime | date:'hh:mm a'}} <br>
                                    {{row.Journey.Routes[0].Origin}}
                                </td>
                                <td class="col-sm-2">{{row.Journey.Routes[0].ArrivalTime | date:'hh:mm a'}} <br>
                                    {{row.Journey.Routes[0].Destination}}
                                </td>
                                <td class="col-sm-2">
                                    {{(row.Journey.Routes[0].Duration.d*24 +
                                    row.Journey.Routes[0].Duration.h) + 'h ' +
                                    row.Journey.Routes[0].Duration.i + 'm'}} <br>
                                    {{row.Journey.Routes[0].Stops === 1 ? 'Non stop' : row.Journey.Routes[0].Stops -1 +
                                    ' stop'}}<br>
                                    <small ng-show="row.Journey.Routes[0].ViaStops">via {{row.Journey.Routes[0].ViaStops}}</small>
                                </td>
                                <td class="col-sm-2">
                                    {{row.Price.TotalPrice}}
                                </td>
                                <td class="col-sm-1">
                                    <button class="btn btn-primary" ng-click="addToCart(row)">Book now
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="">
                            <ul class="list-inline pull-right">
                                <li>
                                    <a href ng-click="demo(row)">{{row.Refundable === 'true' ? 'Refundable': 'Non Refundable'}}</a>
                                </li>
                                <li>
                                    <a href ng-click="openFlightDetailsModal(row)">Flight Details</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>