<div class="container" ng-controller="SegmentCtrl">
    <div class="row">
        <div class="col-md-3">
            <ng-include src="'/template/include/left-filter.html'"></ng-include>
        </div>
        <div class="col-md-9">
            <div>
                <div class="panel panel-default" ng-repeat="row in pricingSolution track by $index"
                     ng-show="showByFilter(row)">
                    <div class="panel-heading">
                        <table class="table-slim">
                            <tr>
                                <td colspan="7">
                                    <span><img ng-src="{{'/api.travelport/images/' + row.PlatingCarrier + '.png'}}"
                                               alt="not found" style="height: 40px;"></span>

                                    {{(row.PlatingCarrier | airline).airline}}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 15%">Depart</td>
                                <td style="width: 15%">Arrive</td>
                                <td style="width: 15%">Duration</td>
                                <td style="width: 15%">Depart</td>
                                <td style="width: 15%">Arrive</td>
                                <td style="width: 15%">Duration</td>
                                <td style="width: 10%; visibility: hidden">
                                    <button>book now</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <table class="table borderless">

                            <tr>

                                <td style="width: 15%">{{row.Journey.Routes[0].DepartureTime | date:'hh:mm a'}} <br>
                                    {{row.Journey.Routes[0].Origin}}
                                </td>
                                <td style="width: 15%">{{row.Journey.Routes[0].ArrivalTime | date:'hh:mm a'}} <br>
                                    {{row.Journey.Routes[0].Destination}}
                                </td>
                                <td style="width: 15%">
                                    {{(row.Journey.Routes[0].Duration.d*24 +
                                    row.Journey.Routes[0].Duration.h) + 'h ' +
                                    row.Journey.Routes[0].Duration.i + 'm'}} <br>
                                    {{row.Journey.Routes[0].Stops === 1 ? 'Non stop' : row.Journey.Routes[0].Stops -1 +
                                    ' stop'}}<br>
                                    <small ng-show="row.Journey.Routes[0].ViaStops">via
                                        {{row.Journey.Routes[0].ViaStops}}
                                    </small>
                                </td>


                                <td style="width: 15%">{{row.Journey.Routes[1].DepartureTime | date:'hh:mm a'}} <br>
                                    {{row.Journey.Routes[1].Origin}}
                                </td>
                                <td style="width: 15%">{{row.Journey.Routes[1].ArrivalTime | date:'hh:mm a'}} <br>
                                    {{row.Journey.Routes[1].Destination}}
                                </td>
                                <td style="width: 15%">
                                    {{(row.Journey.Routes[1].Duration.d*24 +
                                    row.Journey.Routes[1].Duration.h) + 'h ' +
                                    row.Journey.Routes[1].Duration.i + 'm'}} <br>
                                    {{row.Journey.Routes[1].Stops === 1 ? 'Non stop' : row.Journey.Routes[1].Stops -1 +
                                    ' stop'}}<br>
                                    <small ng-show="row.Journey.Routes[1].ViaStops">via
                                        {{row.Journey.Routes[1].ViaStops}}
                                    </small>
                                </td>

                                <td style="width: 10%;">
                                    <b>{{row.Price.TotalPrice}}</b>
                                    <br>
                                    <button class="btn btn-primary" ng-click="addToCart(row)">
                                        Book now
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="">
                            <ul class="list-inline pull-right">
                                <li>
                                    <a href ng-click="demo($index)">{{row.Refundable === 'true' ? 'Refundable': 'Non
                                        Refundable'}}</a>
                                </li>
                                <li>
                                    <a href ng-click="openFlightDetailsModal($index)">Flight Details</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>