<div class="container">
    <div class="jumbotron">
        <div class="form-group">
            <label class="radio-inline"> <input type="radio" value="O" ng-model="searchObj.tripType"> One Way </label>
            <label class="radio-inline"> <input type="radio" value="R" ng-model="searchObj.tripType"> Round Trip </label>
            <label class="radio-inline"> <input type="radio" value="M" ng-model="searchObj.tripType"> Multicity </label>
        </div>
        <div ng-hide="searchObj.tripType == 'M'">
            <div class="row">

                <div class="form-group typeahead-demo col-sm-6">
                    <label>Form</label>
                    <input type="text" ng-model="searchObj.origin" placeholder="Select Origin"
                           uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"
                           typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"
                           typeahead-min-length="0">
                </div>
                <div class="form-group col-sm-6">
                    <label for="pwd">To</label>
                    <input type="text" ng-model="searchObj.destination" placeholder="Select Destination"
                           uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"
                           typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"
                           typeahead-min-length="0">
                </div>
            </div>
            .
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="usr">Departure Date</label>
                    <input type="date" class="form-control" id="usr" ng-model="searchObj.departureDate">
                </div>
                <div class="form-group col-sm-6">
                    <label for="pwd">Return Date</label>
                    <input type="date" class="form-control" id="pwd" ng-model="searchObj.arrivalDate"
                           ng-disabled="searchObj.tripType == 'O'">
                </div>
            </div>
        </div>
        <div ng-show="searchObj.tripType == 'M'">
            <div class="row" ng-repeat="row in multicity">
                <div class="form-group typeahead-demo col-sm-3">
                    <label>Form</label>
                    <input type="text" ng-model="row.origin" placeholder="Select Origin"
                           uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"
                           typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"
                           typeahead-min-length="0">
                </div>
                <div class="form-group col-sm-3">
                    <label for="pwd">To</label>
                    <input type="text" ng-model="row.destination" placeholder="Select Destination"
                           uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"
                           typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"
                           typeahead-min-length="0">
                </div>
                <div class="form-group col-sm-3">
                    <label for="usr">Departure Date</label>
                    <input type="date" class="form-control" id="usr" ng-model="row.departureDate">
                </div>
                <div class="form-group col-sm-3">
                    <label for="pwd" class="">&nbsp;</label>
                    <button class="btn btn-default btn-block" ng-click="removeMulticity($index)"
                            ng-disabled="multicity.length <= 2">Remove
                    </button>
                    <button class="btn btn-link btn-block" ng-click="addMulticity()"
                            ng-show="multicity.length === $index+1 && multicity.length < 4">+ Add City (Up to 4)
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-2">
                <label for="usr">adults</label>
                <dd-spinner ng-model="searchObj.adults" style="display: block;"></dd-spinner>
            </div>
            <div class="form-group col-sm-2">
                <label for="pwd">childs</label>
                <dd-spinner ng-model="searchObj.childs" style="display: block;"></dd-spinner>
            </div>
            <div class="form-group col-sm-2">
                <label for="pwd" class="">infant</label>
                <dd-spinner ng-model="searchObj.infant" style="display: block;"></dd-spinner>
            </div>
            <div class="form-group col-sm-3">
                <label for="pwd" class="">Cabin Class</label>
                <select class="form-control" id="sel1" ng-model="searchObj.class">
                    <option value="Economy">Economy</option>
                    <option value="PremiumEconomy">Premium Economy</option>
                    <option value="Business">Business</option>
                    <option value="First">First</option>
                    <option value="PremiumFirst">Premium First</option>
                </select>
            </div>

            <div class="form-group col-sm-3">
                <label for="pwd" class="">&nbsp;</label>
                <button type="button" class="btn btn-primary btn-block" ng-click="searchTrigger()">Search Flights
                </button>
            </div>
        </div>

    </div>
</div>