<div ng-controller="SegmentCtrl">
    <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default" ng-repeat="row in data.Envelope.Body.LowFareSearchRsp.AirPricePointList.AirPricePoint" ng-init="getCounterValueByKey(row._Key)">
            <uib-accordion-heading>
                {{(row.AirPricingInfo._PlatingCarrier | airline).airline}} {{row._ApproximateTotalPrice}}
            </uib-accordion-heading>
            <div class="panel-body">
                <h3>Price : {{row._ApproximateTotalPrice}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="seg in legList[row._Key]">
                        <!--{{seg}}-->
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-success">Cancel</button>
                            </div>
                            <div class="col-md-10">
                                <div ng-repeat="bookingInfo in getArray(seg.Option.BookingInfo)">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="col-md-2">
                                                <img ng-src="{{'/api.travelport/images/' + getSegmentByKey(bookingInfo._SegmentRef)._Carrier + '.png'}}" alt="not found">
                                            </td>
                                            <td class="col-md-2">
                                                <b>{{getSegmentByKey(bookingInfo._SegmentRef)._DepartureTime | mydate:'date'}}</b>
                                                <br>
                                                Depart: <b>{{getSegmentByKey(bookingInfo._SegmentRef)._DepartureTime | mydate:'time'}}</b>
                                                <br>
                                                Arrive: <b>{{getSegmentByKey(bookingInfo._SegmentRef)._ArrivalTime | mydate:'time'}}</b>
                                            </td>
                                            <td class="col-md-2">
                                                <b>{{getSegmentByKey(bookingInfo._SegmentRef)._Carrier}}</b>
                                                <br>
                                                <b>{{getSegmentByKey(bookingInfo._SegmentRef)._Origin}}</b>
                                                <br>
                                                <b>{{getSegmentByKey(bookingInfo._SegmentRef)._Destination}}</b>
                                            </td>
                                            </td>
                                            <td class="col-md-2">
                                                Flight: <b>{{getSegmentByKey(bookingInfo._SegmentRef)._FlightNumber}}</b>
                                                class: <b>{{bookingInfo._BookingCode}}</b>
                                                <br>
                                                <b>{{getFlightDetailsByFlightDetailsRef(getSegmentByKey(bookingInfo._SegmentRef).FlightDetailsRef._Key)._Equipment}}</b>
                                                <br>
                                                Journey Time: <b>{{getFlightDetailsByFlightDetailsRef(getSegmentByKey(bookingInfo._SegmentRef).FlightDetailsRef._Key)._FlightTime}}</b>
                                            </td>
                                            <td class="col-md-2">
                                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                                                <!--{{getFlightDetailsByFlightDetailsRef(getSegmentByKey(bookingInfo._SegmentRef).FlightDetailsRef._Key)}}-->
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>


                <div ng-repeat="flightOption in getArray(row.AirPricingInfo.FlightOptionsList.FlightOption)">
                    <div class="bg-danger" ng-show="$index == counter[row._Key]">
                        <h4>{{flightOption._Origin}} to
                            {{flightOption._Destination}}</h4>
                        <div class="well" ng-repeat="airSegment in getArray(flightOption.Option)">


                            <div class="row">
                                <div class="col-md-2">
                                    <button class="btn btn-success" ng-click="toggleSelect(airSegment._Key, row._Key, airSegment)">{{showHide[row._Key][airSegment._Key] ? 'Unselect' : 'Select'}}</button>
                                </div>
                                <div class="col-md-10">
                                    <div ng-repeat="bookingInfo in getArray(airSegment.BookingInfo)">
                                        <table class="table table-bordered">
                                            <tr>
                                                <td class="col-md-2">
                                                    <img ng-src="{{'/api.travelport/images/' + getSegmentByKey(bookingInfo._SegmentRef)._Carrier + '.png'}}" alt="not found">
                                                </td>
                                                <td class="col-md-2">
                                                    <b>{{getSegmentByKey(bookingInfo._SegmentRef)._DepartureTime | mydate:'date'}}</b>
                                                    <br>
                                                    Depart: <b>{{getSegmentByKey(bookingInfo._SegmentRef)._DepartureTime | mydate:'time'}}</b>
                                                    <br>
                                                    Arrive: <b>{{getSegmentByKey(bookingInfo._SegmentRef)._ArrivalTime | mydate:'time'}}</b>
                                                </td>
                                                <td class="col-md-2">
                                                    <b>{{getSegmentByKey(bookingInfo._SegmentRef)._Carrier}}</b>
                                                    <br>
                                                    <b>{{getSegmentByKey(bookingInfo._SegmentRef)._Origin}}</b>
                                                    <br>
                                                    <b>{{getSegmentByKey(bookingInfo._SegmentRef)._Destination}}</b>
                                                </td>
                                                </td>
                                                <td class="col-md-2">
                                                    Flight: <b>{{getSegmentByKey(bookingInfo._SegmentRef)._FlightNumber}}</b>
                                                    class: <b>{{bookingInfo._BookingCode}}</b>
                                                    <br>
                                                    <b>{{getFlightDetailsByFlightDetailsRef(getSegmentByKey(bookingInfo._SegmentRef).FlightDetailsRef._Key)._Equipment}}</b>
                                                    <br>
                                                    Journey Time: <b>{{getFlightDetailsByFlightDetailsRef(getSegmentByKey(bookingInfo._SegmentRef).FlightDetailsRef._Key)._FlightTime}}</b>
                                                </td>
                                                <td class="col-md-2">
                                                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                                                    <!--{{getFlightDetailsByFlightDetailsRef(getSegmentByKey(bookingInfo._SegmentRef).FlightDetailsRef._Key)}}-->
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <div class="col-md-12">
                <button class="btn btn-success pull-right"  ng-click="addToCart(row)" >Add to cart</button>
            </div>
        </div>
    </uib-accordion>
</div>