<div ng-controller="UserInvoicesCtrl">
    <div class="col-md-12">



        <uib-accordion close-others="oneAtATime">


            <div uib-accordion-group class="panel-default"    ng-repeat="sal in sales"  >
                <uib-accordion-heading>
                    <span style="font-weight: bold;" ng-click="invoiceClick(sal.id)">{{sal.order_number}} ( {{sal.created_at}} )</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>

                <div class="panel panel-default">


                    <h2 style="padding-left: 5px">Route List</h2>
                    <div class="panel-body">
                        <div ng-repeat="route in sale.ticket.route" >
                            <div>
                                <h4>{{$index+1}}. {{route.Origin}} -> {{route.Destination}}</h4>
                            </div>

                            <table class="table table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th width="15%">Airline</th>
                                    <th width="25%">Depart</th>
                                    <th width="25%">Arrive</th>
                                    <th width="25%">Details</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="segment in route.segment">
                                <tr >
                                    <td width="15%">
                                <span><img src="{{'api.travelport/images/' + segment.Carrier + '.png'}}"
                                           alt="not found" style="height: 40px;"></span>

                                        {{segment.Carrier}}
                                    </td>
                                    <td width="25%">

                                        {{segment.Origin}}<br>
                                        {{ segment.DepartureTime}}<br>
                                        <br>
                                    </td>

                                    <td width="25%">
                                        {{segment.Destination}}<br>
                                        {{ segment.ArrivalTime }}<br>
                                        <br>
                                    </td>
                                    <td width="35%">
                                        Flight Time : {{segment.FlightTime}} minutes
                                        <br> Class : {{segment.CabinClass}}
                                        <br> FlightNumber : {{segment.Carrier}} - {{segment.FlightNumber}}
                                        <br><span ng-show="segment.DestinationTerminal"> Destination Terminal : {{segment.DestinationTerminal}}<br></span>
                                         MaxWeight : {{segment.MaxWeight}}  {{segment.WeightUnits}}

                                    </td>

                                </tr>

                                <tr ng-if="!$last">
                                    <td colspan="4" align="center">
                                        <div class="bg-warning pm-border center">
                                            <p class="text-center">Layover: {{segment.Destination}}
                                                |
                                                {{ dateDifference(route.segment[$index+1].DepartureTime, route.segment[$index].ArrivalTime)}}
                                            </p>
                                        </div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>

                <div class="panel panel-default">

                    <h2 style="padding-left: 5px">Traveller List</h2>

                    <div class="panel-body">

                        <table class="table table-bordered">
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>DOB</th>
                                <th>Nationality</th>
                                <th>Passport No.</th>
                                <th>Issuing Country</th>
                                <th>Passport Expiry Date</th>

                            </tr>
                            <tr ng-repeat="person in sale.ticket.passenger">
                                <td>{{person.passenger_type}}{{person.passenger_order + 1}}</td>

                                <td>{{person.title}} {{person.first_name}} {{person.middle_name}} {{person.last_name}}</td>
                                <!--<td> {{ Carbon\Carbon::parse(person.dob)->format('d M, Y') }}</td>-->
                                <td>{{person.dob | date:'dd:mm:yyyy'}}</td>
                                <td>{{person.nationality}}</td>
                                <td>{{person.passport_no}}</td>
                                <td>{{person.passport_issue_country}}</td>
                                <!--<td> {{ Carbon\Carbon::parse(person.passport_expiry_date)->format('d M, Y') }}</td>-->
                                <td>{{person.passport | date:'dd:mm:yyyy'}}</td>

                            </tr>

                        </table>
                    </div>
                </div>

                <div class="panel panel-default">

                    <h2 style="padding-left: 5px">Card Info</h2>

                    <div class="panel-body">

                        <table class="table table-bordered">
                            <tr>
                                <th>Billing Address</th>
                                <th>Card info</th>
                            </tr>
                            <td>
                                First Name : {{sale.billing_firstname}}<br/>
                                Last Name : {{sale.billing_lastname}}<br/>
                                Email : {{sale.billing_email}}<br/>
                                Address : {{sale.billing_address}}<br/>
                                City : {{sale.billing_city}}<br/>
                                Country : {{sale.billing_country}}<br/>
                                Phone : {{sale.billing_phone}}<br/>
                            </td>

                            <td>
                                Card Holder : {{cardinfo.cardholder}}<br/>
                                Card Number : {{cardinfo.card_number}}<br/>
                                Card CVV : {{cardinfo.cvv}}<br/>
                            </td>


                        </table>



                        <div>
                            <h2 style="padding-left: 5px">Price</h2>
        <span style="font-weight: bold;">
            Base Price : {{sale.ticket.ApproximateBasePrice}}
            <br>Taxes : {{sale.ticket.ApproximateTaxes}}
            <br>Total Price : {{sale.ticket.ApproximateTotalPrice}}
        </span>
                        </div>


                    </div>
                </div>


            </div>
        </uib-accordion>



    </div>

</div>


