
<div ng-controller="AirAvailableCtrl">
<div class="container" >
    <h3>Travelport uApi</h3>

    <div class="jumbotron">

        <div ng-hide="searchObj.tripType == 'M'">
            <div class="row">

                <div class="form-group typeahead-demo col-sm-2">
                    <label>Form</label>
                    <input type="text" ng-model="searchObj.origin" placeholder="Select Origin"
                           uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"
                           typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"
                           typeahead-min-length="0">
                </div>
                <div class="form-group col-sm-2">
                    <label for="pwd">To</label>
                    <input type="text" ng-model="searchObj.destination" placeholder="Select Destination"
                           uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"
                           typeahead-template-url="/template/include/customTemplate.html" class="form-control" typeahead-show-hint="true"
                           typeahead-min-length="0">
                </div>

                <div class="form-group col-sm-3">
                    <label for="usr">Departure Date</label>
                    <input type="date" class="form-control" id="usr" ng-model="searchObj.departureDate">
                </div>
                <div class="form-group col-sm-3">
                    <label for="pwd">Airlines</label>
                    <input type="text" class="form-control" id="pwd" ng-model="searchObj.airlines"
                           ng-disabled="searchObj.tripType == 'O'">
                </div>

                <div class="form-group col-sm-2">
                    <label for="pwd" class="">&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-block" ng-click="searchTrigger()">Search Flights
                    </button>
                </div>

            </div>

        </div>


    </div>

</div>
    <div class= "container-fluid">
        <table class="table table-bordered" style="table-layout: fixed">
            <tr>
                <th width="7%">No.</th>
                <th width="7%">Origin</th>
                <th width="7%">Destination</th>
                <th width="10%">Departure Time</th>
                <th width="10%">Arrival Time</th>
                <th width="40%">Booking Count</th>
                <th width="7%">Equipment</th>
                <th width="5%">Carrier</th>
                <th width="5%">ec</th>
            </tr>
            <tr ng-repeat="segment in data.Envelope.Body.AvailabilitySearchRsp.AirSegmentList.AirSegment">
                <td>{{$index+1}}</td>
                <td>{{segment._Origin}}</td>
                <td>{{segment._Destination}}</td>
                <td>
                    {{segment._DepartureTime | date:'hh:mm a'}} <br>
                    <small>{{segment._DepartureTime | date:'EEE, d MMM'}} </small><br>
                </td>
                <td>
                    {{segment._ArrivalTime | date:'hh:mm a'}} <br>
                    <small>{{segment._ArrivalTime | date:'EEE, d MMM'}} </small><br>
                </td>
                <td>
                    <div ng-repeat="info in getArray(segment.AirAvailInfo.BookingCodeInfo)">
                        <p style="text-align: left; float: left">{{info._CabinClass}}</p></p>
                        <p style="text-align: right">{{info._BookingCounts}}</p>
                    </div>
                </td>
                <td>{{segment._Equipment}}</td>
                <td>{{segment._Carrier}}</td>
                <td>ec</td>
            </tr>
        </table>

</div>    <div class= "container-fluid">
        <pre>
            {{airavailable}}
        </pre>
</div>
</div>