<div ng-controller="QpxCtrl">
    <div class="container">
        <h3>Google Flight Api</h3>

        <div class="jumbotron">

            <div ng-hide="searchObj.tripType == 'M'">
                <div class="row">

                    <div class="form-group typeahead-demo col-sm-2">
                        <label>Form</label>
                        <input type="text" ng-model="searchObj.origin" placeholder="Select Origin"
                               uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"
                               typeahead-template-url="/template/include/customTemplate.html" class="form-control"
                               typeahead-show-hint="true"
                               typeahead-min-length="0">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="pwd">To</label>
                        <input type="text" ng-model="searchObj.destination" placeholder="Select Destination"
                               uib-typeahead="state as state.display for state in ctrl.states |  fuzzyBy:'display':$viewValue | limitTo:8"
                               typeahead-template-url="/template/include/customTemplate.html" class="form-control"
                               typeahead-show-hint="true"
                               typeahead-min-length="0">
                    </div>

                    <div class="form-group col-sm-3">
                        <label for="usr">Departure Date</label>
                        <input type="date" class="form-control" id="usr" ng-model="searchObj.departureDate">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="pwd">Airlines</label>
                        <input type="text" class="form-control" id="pwd" ng-model="searchObj.airlines"
                               ng-disabled="searchObj.tripType == 'O'">
                    </div>

                    <div class="form-group col-sm-2">
                        <label for="pwd" class="">&nbsp;</label>
                        <button type="button" class="btn btn-primary btn-block" ng-click="searchTrigger()">Search
                            Flights
                        </button>
                    </div>

                </div>

            </div>


        </div>

    </div>
    <div class="container">
        <div>
            <div ng-repeat="row in airavailable.trips.tripOption" style="border: 1px black solid">

                <div><h3 class="pull-left">{{row.saleTotal}}</h3>

                    <div class="pull-right">
                        <div class="display-table ">
                            <div class="table-cell">carrier</div>
                            <div class="table-cell">aircraft</div>
                            <div class="table-cell">origin</div>
                            <div class="table-cell">destination</div>
                            <div class="table-cell">departureTime</div>
                            <div class="table-cell">arrivalTime</div>

                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>


                <div ng-repeat="slice in row.slice" style="float: right">
                    <div ng-repeat="segment in slice.segment ">
                        <div ng-repeat="leg in segment.leg " class="display-table">
                            <div class="table-cell">{{segment.flight.carrier}}</div>
                            <div class="table-cell">{{leg.aircraft}}</div>
                            <div class="table-cell">{{leg.origin}}</div>
                            <div class="table-cell">{{leg.destination}}</div>
                            <div class="table-cell">
                                {{leg.departureTime | date:'hh:mm a'}} <br>
                                <small>{{leg.departureTime | date:'EEE, d MMM'}}</small>
                            </div>
                            <div class="table-cell">
                                {{leg.arrivalTime | date:'hh:mm a'}} <br>
                                <small>{{leg.arrivalTime | date:'EEE, d MMM'}}</small>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <pre>
            {{airavailable}}
        </pre>
    </div>
</div>