<div class="modal-body">
                <div class="page-header">
                    <h1><small class="pull-right">
                        <!--<button class="btn btn-danger pull-right" type="button" ng-click="clearCart()">Clear Cart</button>-->
                    </small> Cart </h1>
                </div>
                <div class="comments-list">
                    <div ng-show="notLogin">
                        <p>you are not login, please <a href="/customer-login">click here</a> to login</p>
                    </div>
                    <div ng-show="items.length === 0">
                        <p>Your cart is empty</p>
                    </div>

                    <div class="panel panel-default" ng-repeat="row in items">
                        <div class="panel-body">
                            <table class="table borderless">
                                <tr>
                                    <td class="col-sm-3">
                                        <span><img ng-src="{{'/api.travelport/images/' + fromJson(row.cart_content).AirPricePoint.PlatingCarrier + '.png'}}" alt="not found" style="height: 40px;"></span>
                                        {{(fromJson(row.cart_content).AirPricePoint.PlatingCarrier | airline).airline}}
                                    </td>
                                    <td class="col-sm-2">{{fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].DepartureTime | date:'hh:mm a'}} <br>
                                        {{fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Origin}}</td>
                                    <td class="col-sm-2">{{fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].ArrivalTime | date:'hh:mm a'}} <br>
                                        {{fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Destination}}</td>
                                    <td class="col-sm-2">
                                        {{(fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Duration.d*24 +
                                        fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Duration.h) + 'h ' +
                                        fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Duration.i + 'm'}} <br>
                                        {{fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Stops === 1 ? 'Non stop' : fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Stops -1 + ' stop'}}
                                    </td>
                                    <td class="col-sm-2">
                                        {{fromJson(row.cart_content).AirPricePoint.Price.TotalPrice}}
                                    </td>
                                    <td class="col-sm-1">
                                        <div style="padding: 5px 0"><button class="btn btn-info" ng-click="modifyCartItem(row.ticket_key, $index)">View passenger</button></div>
                                        <div style="padding: 5px 0"><button class="btn btn-warning" ng-click="deleteCartItem(row.ticket_key, $index)">Delete</button></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
    <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
</div>