<!--<div ng-controller="SearchCtrl">-->
    <!--<a id="backtotop"  class="visible" ng-click="openCart('lg')">Cart</a>-->

<!--</div>-->
<div ng-controller="ConfirmTicketCtrl">
    <div class="container">
        <div class="panel panel-default" ng-repeat="row in allTicket">
            <!--<div class="panel-heading">{{fromJson(row.cart_content).AirPricePoint.PlatingCarrier}}</div>-->

            <div class="panel-heading">Flight details</div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th class="col-sm-3">
                            Airlines
                        </th>
                        <th class="col-sm-2">
                            Departure
                        </th>
                        <th class="col-sm-2">
                            Arrive
                        </th>
                        <th class="col-sm-2">
                            Duration
                        </th>
                        <th class="col-sm-2">
                            Price
                        </th>

                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            <span><img ng-src="{{'/api.travelport/images/' + fromJson(row.cart_content).AirPricePoint.PlatingCarrier + '.png'}}" alt="not found" style="height: 40px;"></span>

                            {{fromJson(row.cart_content).AirPricePoint.PlatingCarrier}}
                        </td>
                        <td class="col-sm-2">{{fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].DepartureTime | date:'hh:mm a'}} <br>
                            {{fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Origin}}</td>
                        <td class="col-sm-2">{{fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].ArrivalTime | date:'hh:mm a'}} <br>
                            {{fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Destination}}</td>
                        <td class="col-sm-2">
                            {{(fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Duration.d*24 +
                            fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Duration.h) + 'h ' +
                            fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Duration.i + 'm'}} <br>
                            {{fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Stops === 1 ? 'Non stop' : fromJson(row.cart_content).AirPricePoint.Journey.Routes[0].Stops -1 + ' stop'}}
                        </td>
                        <td class="col-sm-2">
                            {{fromJson(row.cart_content).AirPricePoint.Price.TotalPrice}}
                        </td>

                    </tr>
                </table>
                <!--<div><a href="">{{true : 'Show'? 'Hide'}}</a></div>-->
                <!--<div class="table-responsive">-->
                    <!--Traveller List-->
                    <!--<table class="table table-bordered">-->
                        <!--<tr>-->
                            <!--<th></th>-->
                            <!--<th>Title</th>-->
                            <!--<th>First Name</th>-->
                            <!--<th>Middle Name</th>-->
                            <!--<th>Last Name</th>-->
                            <!--<th>DOB</th>-->
                            <!--<th>Nationality</th>-->
                            <!--<th>Passport No.</th>-->
                            <!--<th>Issuing Country</th>-->
                            <!--<th>Passport Expiry Date</th>-->
                            <!--<th></th>-->
                        <!--</tr>-->
                        <!--<tr ng-repeat="person in row.passenger">-->
                            <!--<th>{{person.passenger_type +' '+ person.passenger_order}}</th>-->
                            <!--<th>{{person.title}}</th>-->
                            <!--<th>{{person.first_name}}</th>-->
                            <!--<th>{{person.middle_name}}</th>-->
                            <!--<th>{{person.last_name}}</th>-->
                            <!--<th>{{person.dob}}</th>-->
                            <!--<th>{{person.nationality}}</th>-->
                            <!--<th>{{person.passport_no}}</th>-->
                            <!--<th>{{person.passport_issue_country}}</th>-->
                            <!--<th>{{person.passport_expiry_date}}</th>-->
                            <!--<th><button class="btn btn-info pull-right" >Edit</button></th>-->
                        <!--</tr>-->

                    <!--</table>-->
                <!--</div>-->

            </div>
            <!--<div class="panel-footer">Panel footer</div>-->

            <!--<a href="/checkout-final" class="btn btn-default">Continue</a>-->

        </div>
    </div>


<!--<div class="container">-->
    <!--<div class="row">-->
       <!--<div class="col-md-6">-->
           <!--<div>-->
               <!--<div class="form-group">-->
                   <!--<label for="billing_firstname">Billing firstname:</label>-->
                   <!--<input type="text" class="form-control" id="billing_firstname" ng-model="cartinfo.billing_firstname">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="billing_lastname">Billing lastname:</label>-->
                   <!--<input type="text" class="form-control" id="billing_lastname" ng-model="cartinfo.billing_lastname">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="billing_email">Billing email:</label>-->
                   <!--<input type="text" class="form-control" id="billing_email" ng-model="cartinfo.billing_email">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="billing_address">Billing address:</label>-->
                   <!--<input type="text" class="form-control" id="billing_address" ng-model="cartinfo.billing_address">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="billing_city">Billing city:</label>-->
                   <!--<input type="text" class="form-control" id="billing_city" ng-model="cartinfo.billing_city">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="billing_postalcode">Billing postalcode:</label>-->
                   <!--<input type="text" class="form-control" id="billing_postalcode" ng-model="cartinfo.billing_postalcode">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="billing_country">Billing country:</label>-->
                   <!--<input type="text" class="form-control" id="billing_country" ng-model="cartinfo.billing_country">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="billing_state">Billing state:</label>-->
                   <!--<input type="text" class="form-control" id="billing_state" ng-model="cartinfo.billing_state">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="billing_phone">Billing uhone:</label>-->
                   <!--<input type="text" class="form-control" id="billing_phone" ng-model="cartinfo.billing_phone">-->
               <!--</div>-->


           <!--</div>-->
       <!--</div>-->
        <!--<div class="col-md-6">-->
           <!--<div>-->
               <!--<div class="form-group">-->
                   <!--<label for="shipping_firstname">Shipping firstname:</label>-->
                   <!--<input type="text" class="form-control" id="shipping_firstname" ng-model="cartinfo.shipping_firstname">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="shipping_lastname">Shipping lastname:</label>-->
                   <!--<input type="text" class="form-control" id="shipping_lastname" ng-model="cartinfo.shipping_lastname">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="shipping_email">Shipping email:</label>-->
                   <!--<input type="text" class="form-control" id="shipping_email" ng-model="cartinfo.shipping_email">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="shipping_address">Shipping address:</label>-->
                   <!--<input type="text" class="form-control" id="shipping_address" ng-model="cartinfo.shipping_address">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="shipping_city">Shipping city:</label>-->
                   <!--<input type="text" class="form-control" id="shipping_city" ng-model="cartinfo.shipping_city">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="shipping_postalcode">Shipping postalcode:</label>-->
                   <!--<input type="text" class="form-control" id="shipping_postalcode" ng-model="cartinfo.shipping_postalcode">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="shipping_country">Shipping country:</label>-->
                   <!--<input type="text" class="form-control" id="shipping_country" ng-model="cartinfo.shipping_country">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="shipping_state">Shipping state:</label>-->
                   <!--<input type="text" class="form-control" id="shipping_state" ng-model="cartinfo.shipping_state">-->
               <!--</div>-->
               <!--<div class="form-group">-->
                   <!--<label for="shipping_phone">Shipping phone:</label>-->
                   <!--<input type="text" class="form-control" id="shipping_phone" ng-model="cartinfo.shipping_phone">-->
               <!--</div>-->
           <!--</div>-->
       <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div>-->
                <!--<button type="submit" class="btn btn-default" ng-click="billingAndShippingSaveAndContinue()">Save & Continue</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


</div>