<div ng-controller="HomeMaterialCtrl as ctrl" style="min-height: 100vh;
    margin-top: -20px;
    padding: 20px;">

    <!--add search box-->
    <ng-include src="'/template/include/search-box.html'"></ng-include>
    <div class="container" ng-show="fault">
        <div class="alert alert-danger">
            {{fault.faultstring}}
        </div>
    </div>
    <ng-include src="tUrl"></ng-include>
    <div class="container" ng-show="isLoading">
        <div layout="row" layout-sm="column" layout-align="center center" style="padding: 20px">
            <md-progress-circular md-diameter="96"></md-progress-circular>
            <span style="padding-left: 20px">loading</span>
        </div>
        <h1>loading please wait</h1>
    </div>
</div>