<div ng-controller="TravellerDetailsCtrl">
    <div class="container">
    <ng-include src="'/template/include/ticket-info-summary.html'"></ng-include>
    </div>
    <div class="container">

        <!--<form> -->
        <form name="passengerForm" novalidate>


            <div class="row">
            <div class="col-md-9">

                    <div ng-repeat="row in passenger" class="panel panel-default">
                        <div class="panel-heading">
                            {{row.passenger_type +' '+ row.passenger_order}}
                            <!--<select class="pull-right" ng-model="data.model">-->
                                <!--<option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.first_name + ' ' + option.last_name}}({{}})</option>-->
                            <!--</select>-->
                            <button class="pull-right" ng-click="selectTraveller($index, 'lg')">Select from my favorite</button>
                        </div>
                        <div class=" panel-body">
                            <div class="form-horizontal">
                                <label >Personal Details</label>

                                <div class="form-group">
                                    <div class="col-md-2">
                                        <!--<input ng-model="row.title" type="text" class="form-control" placeholder="Title">-->

                                        <select class="form-control"  ng-model="row.title">
                                            <option value="">select</option> <!-- not selected / blank option -->
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Miss">Miss</option>

                                        </select>

                                    </div>
                                    <div class="col-md-3">
                                        <input name="first_name" ng-model="row.first_name" type="text" class="form-control" placeholder="First Name" required>
                                        <!--<span ng-show="passengerForm.first_name.$touched && passengerForm.first_name.$invalid">The name is required.</span>-->

                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="row.middle_name" type="text" class="form-control" placeholder="Middle Name" />
                                    </div>
                                    <div class="col-md-3">
                                        <input ng-model="row.last_name" type="text" class="form-control" placeholder="Last Name" />
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="row.dob" type="text" class="form-control" placeholder="DOB" />
                                    </div>
                                </div>
                                <label >Passport Details</label>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        <input ng-model="row.nationality" type="text" class="form-control" placeholder="Nationality">
                                    </div>
                                    <div class="col-md-3">
                                        <input ng-model="row.passport_no" type="text" class="form-control" placeholder="Passport No.">
                                    </div>
                                    <div class="col-md-3">
                                        <input ng-model="row.passport_issue_country" type="text" class="form-control" placeholder="Issuing Country">
                                    </div>
                                    <div class="col-md-3">
                                        <input ng-model="row.passport_expiry_date" type="text" class="form-control" placeholder="Passport Expiry Date">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                <!--==================-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                     Billing Address

                        <button class="pull-right" ng-click="selectTravellerCard('lg')">Select from my previous</button>
                    </div>
                    <div class=" panel-body">
                        <div class="form-horizontal">
                            <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="firstname">Billing firstname:</label>
                                        <input type="text" class="form-control" id="firstname" ng-model="customeradd.first_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname">Billing lastname:</label>
                                        <input type="text" class="form-control" id="lastname" ng-model="customeradd.last_name">
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label for="email">Billing email:</label>-->
                                        <!--<input type="text" class="form-control" id="email" ng-model="customeradd.email">-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label for="address">Billing address:</label>
                                        <input type="text" class="form-control" id="address" ng-model="customeradd.address">
                                    </div>
                                    <div class="form-group">
                                        <label for="city">Billing city:</label>
                                        <input type="text" class="form-control" id="city" ng-model="customeradd.city">
                                    </div>
                                    <div class="form-group">
                                        <label for="postalcode">Billing postalcode:</label>
                                        <input type="text" class="form-control" id="postalcode" ng-model="customeradd.postalcode">
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label for="country">Billing country:</label>-->
                                        <!--<input type="text" class="form-control" id="country" ng-model="customeradd.country">-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="state">Billing state:</label>-->
                                        <!--<input type="text" class="form-control" id="state" ng-model="customeradd.state">-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label for="phone">Billing phone:</label>
                                        <input type="text" class="form-control" id="phone" ng-model="customeradd.phone">
                                    </div>


                            </div>
                        </div>
                    </div>
                </div>


                <!--==================-->


                <!--==================-->

                <div  class="panel panel-default">
                    <div class="panel-heading">
                        Card Information
                    </div>
                    <div class=" panel-body">
                        <div class="form-horizontal">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="credit-card">Credit Card Number:</label>
                                    <input type="text" class="form-control" id="credit-card" name="card_number" ng-model="payment.card_number">
                                </div>
                                <div class="form-group">
                                    <label for="cardholder">Cardholder Name <small>(Please enter the same name which is written on your card)</small></label>
                                    <input type="text" class="form-control" id="cardholder" name="cardholder" ng-model="payment.cardholder">
                                </div>
                                <div class="form-group">
                                    <label for="expdate">Expiry Date</label>
                                    <input type="text" class="form-control" id="expdate" name="exp_date" ng-model="payment.exp_date">
                                </div>
                                <div class="form-group">
                                    <label for="cvv">CVV <small>3 digit CVV Number</small></label>
                                    <input type="text" class="form-control" id="cvv" name="cvv" ng-model="payment.cvv">
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


                <!--==================-->


                <div class=""><button class="btn btn-info" ng-click="saveAndContinue()">Continue</button></div>

            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Fare Details</div>
                    <div class="panel-body">
                        <table class="table">

                            <tr>
                                <th scope="row">Base Price </th>
                                <td>{{cart.ApproximateBasePrice}}</td>
                            </tr><tr>
                                <th scope="row">Taxes </th>
                                <td>{{cart.ApproximateTaxes}}</td>
                            </tr><tr>
                                <th scope="row">Total Price </th>
                                <td> <b>{{cart.ApproximateTotalPrice}}</b></td>
                            </tr>

                        </table>
                    </div>

                    <!-- Table -->

                </div>

            </div>
        </div>

        </form>

    </div>
    </div>