<div ng-controller="SearchCtrl">
    <a id="backtotop"  class="visible" ng-click="openCart('lg')">Cart</a>

</div><div ng-controller="TravellerDetailsCtrl">
    <div class="container">

        <!--<h1>{{adults}}</h1>-->
        <!--<p>{{ticket}}</p>-->
        <form> <div class="row">
            <div class="col-md-9">

                    <div ng-repeat="row in passenger" class="panel panel-default">
                        <div class="panel-heading">
                            {{row.passenger_type +' '+ row.passenger_order}}
                            <!--<select class="pull-right" ng-model="data.model">-->
                                <!--<option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.first_name + ' ' + option.last_name}}({{}})</option>-->
                            <!--</select>-->
                            <button class="pull-right" ng-click="selectTraveller($index, 'lg')">Select from my favorite</button>
                        </div>
                        <div class=" panel-body">
                            <div class="form-horizontal">
                                <label >Personal Details</label>

                                <div class="form-group">
                                    <div class="col-md-2">
                                        <input ng-model="row.title" type="text" class="form-control" placeholder="Title">
                                    </div>
                                    <div class="col-md-3">
                                        <input ng-model="row.first_name" type="text" class="form-control" placeholder="First Name">
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="row.middle_name" type="text" class="form-control" placeholder="Middle Name">
                                    </div>
                                    <div class="col-md-3">
                                        <input ng-model="row.last_name" type="text" class="form-control" placeholder="Last Name">
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="row.dob" type="text" class="form-control" placeholder="DOB">
                                    </div>
                                </div>
                                <label >Passport Details</label>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        <input ng-model="row.nationality" type="text" class="form-control" placeholder="Nationality">
                                    </div>
                                    <div class="col-md-3">
                                        <input ng-model="row.passport_no" type="text" class="form-control" placeholder="Passport No.">
                                    </div>
                                    <div class="col-md-3">
                                        <input ng-model="row.passport_issue_country" type="text" class="form-control" placeholder="Issuing Country">
                                    </div>
                                    <div class="col-md-3">
                                        <input ng-model="row.passport_expiry_date" type="text" class="form-control" placeholder="Passport Expiry Date">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                <div class=""><button class="btn btn-info" ng-click="saveAndContinue()">Continue</button></div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Details</div>
                    <div class="panel-body">
                        <p>...</p>
                    </div>

                    <!-- Table -->
                    <table class="table">
                        <tr>
                            <th scope="row">Origin </th>
                            <td>{{cart_content.AirPricePoint.Journey.Routes[0].Origin}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Destination </th>
                            <td>{{cart_content.AirPricePoint.Journey.Routes[0].Destination}}</td>
                        </tr>
                        <tr>
                            <th scope="row">DepartureTime </th>
                            <td>{{cart_content.AirPricePoint.Journey.Routes[0].DepartureTime | date}}</td>
                        </tr>
                        <tr>
                            <th scope="row">ArrivalTime </th>
                            <td>{{cart_content.AirPricePoint.Journey.Routes[0].ArrivalTime | date}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Class </th>
                            <td>{{cart_content.SearchParams.class}}</td>
                        </tr>
                        <tr>
                            <th scope="row"> Adults </th>
                            <td>{{cart_content.SearchParams.adults}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Childes </th>
                            <td>{{cart_content.SearchParams.childs}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Infant</th>
                            <td>{{cart_content.SearchParams.infant}}</td>
                        </tr>
                        </table>
                </div>

            </div>
        </div>

        </form>

    </div>
    </div>