<div class="modal-body">
                <div class="page-header">
                    <h1>Traveller List </h1>
                </div>
    <div class="list-group">
        <a href class="list-group-item" ng-repeat="row in travellers" ng-click="$event.preventDefault(); selected.item = row">
            {{row.first_name}} {{row.middle_name}} {{row.last_name}}
        </a>
    </div>
</div>
<div class="modal-footer">
    <span class="pull-left"><strong>Selected: </strong>{{selected.item.first_name}} {{selected.item.middle_name}} {{selected.item.last_name}}</span>
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>